# =========================
# Платформо-зависимые файлы (OS)
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
ehthumbs.db
desktop.ini

# =========================
# PlatformIO
# =========================
.pio/
.pioenvs/
.piolibdeps/
.vscode/

# =========================
# Arduino IDE 
# =========================
build/
*.elf
*.hex
*.bin
*.uf2
*.eep
*.o
*.obj
*.a
*.out

# =========================
# Файлы файловой системы (LittleFS / SPIFFS)
# =========================
# Игнорируем случайно закинутые картинки или бинарники анимаций в папке data (если она есть),
# чтобы они не раздували вес Git-репозитория.
data/*.bin
data/*.gif
data/*.jpg
data/*.png

# НО принудительно оставляем твой веб-интерфейс!
!data/index.html
!data/*.css
!data/*.js

# =========================
# Логи и временные файлы конфигураций
# =========================
*.log
*.sqlite3
sdkconfig.old
