# =========================
# VS Code & IntelliSense
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Локальная история файлов (расширение Local History)
.history/

# Кэш C/C++ расширения
.ipch/
*.VC.db
*.opensdf
*.sdf
*.suo

# =========================
# PlatformIO (Самый частый сборщик для ESP32 в VS Code)
# =========================
.pio/
.piolibdeps/

# =========================
# ESP-IDF / Standard C++ Build (Если собираешь без PlatformIO)
# =========================
build/
sdkconfig.old
*.elf
*.bin
*.map
*.hex
*.uf2
*.o
*.obj
*.a
*.out

# =========================
# Платформо-зависимые файлы (OS)
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
ehthumbs.db
desktop.ini

# =========================
# POV Display File System (LittleFS / SPIFFS)
# =========================
# Игнорируем случайно закинутые картинки или бинарники анимаций
data/*.bin
data/*.gif
data/*.jpg
data/*.png

# НО принудительно оставляем файлы веб-интерфейса!
!data/index.html
!data/*.css
!data/*.js
